<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Templates</title>
</head>

<body>
  <script>
    const nombre = "Amaury"
    console.log(`Mi nombre es ${nombre} `);
    console.log(`Mi edad es ${28} `);
    console.log(`Este el curso de React ${"con Javascript"} `);
    console.log(`Declare una variable dentro del template: ${x = "Amaury"} `);
    console.log(`Mi nombre con funcion dentro es: ${(function name() { return "Mau" })()} `);
    console.log(`Mi nombre con funcion ArrowF dentro es: ${(() => { return "Mau" })()} `);
    console.log(`Mi nombre con ternary es ${true && "Amaury ternary"} `);
    console.log(`Mi nombre con ternary es ${false ? "Amaury true" : "Amaury False"} `);
    console.log(`Asignamos apellidos a ${["Amaury", "Julio"].map(apellido => `${apellido}_Soto `)} (ver código)`);


  </script>
</body>

</html>